<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Confirme su email</title>
</head>

<body>
  <table style="
        width: 900px;
        padding: 10px;
        margin: 0 auto;
        border-collapse: collapse;
      ">
    <tr>
      <td style="background-color: #ecf0f1; text-align: center; padding: 0">
        <div style="
              width: 95px;
              height: 50px;
              background-color: #000000;
              padding-top: 10px;
            ">
          <a style="color: #f1f0ee; font-size: 28px">Confirme su email</a>
        </div>
      </td>
    </tr>

    <tr>
      <td style="background-color: #ecf0f1">
        <div style="
              height: 100px;
              color: #34495e;
              margin-top: 60px;
              text-align: center;
              font-family: sans-serif;
            ">
          <h4 style="color: #242322">
            <p>{{body}}</p>
          </h4>
        </div>
      </td>
    </tr>
    <tr>
      <td style="background-color: #ecf0f1; text-align: left; padding: 0">
        <a href="#">
          <div style="
                width: 95px;
                height: 50px;
                padding-top: 5px;
                background-color: #000000;
              ">
            <a style="color: #ecf0f1; margin: 0 5px 0 20px">EnTvUsa</a>
            <a style="color: #ecf0f1; margin: 0 32px 0 5px">&copy; 2022.</a>

            <a style="color: #f1f0ee; font-size: 25px; margin: 0 27%">¡Salud!</a>
          </div>
        </a>
      </td>
    </tr>
  </table>
  <div>
    <p></p>
  </div>
</body>

</html>